.main {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 8px rgb(155, 155, 155);
  display: flex;
  align-items: center;
  padding: 0.5rem;
  justify-content: space-between;
  position: sticky;
  top: 0;
  right: 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  a {
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 1.2rem;
    color: orangered;
  }
}

.container {
  display: flex;
  gap: 0.9rem;

  span {
    cursor: pointer;
  }
}

.search {
  border: 1px solid rgb(198, 198, 198);
  display: flex;
  border-radius: 4px;
  align-items: center;
  padding: 0.2rem 0.7rem;

  input {
    width: 100%;
    border: none;
    padding: 0 .3rem;
    outline: none;
    color: rgb(68, 68, 68);
  }

  span {
    font-size: 1.3rem;
    color: rgb(68, 68, 68);
    cursor: pointer;
  }
}
